/* body {
    text-align: center;
    background-color: black;
    
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
    color:white;
}
#headTitle {
    margin-top:9px;
}
.fa-solid {
    color:gold;
}
nav {
    color:whitesmoke;
}
a:link:hover {
    color:gold;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  main {
    font-family: Georgia, serif;
  }
i {
    color:gold;
} */
body {
    background-image: linear-gradient(to right, black, white);
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar a {
    color:white;
}
#myphoto img {
    border-radius: 200px;
    text-align: center;
}
#intro {
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#aboutme {
    font-size:large;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
#mywork {
    background-color: rgb(129, 123, 123);
    border-radius: 40px;
}
#mywork h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mywork p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mywork img {
    border-radius: 60px;
}


.con {
    position: relative;

  }
  
  .image {
    opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;  
}
  
  .con:hover .image {
    opacity: 0.3;
  }
  
  .con:hover .middle {
    opacity: 1;
  }
  
  .text a{
    color: white;
    font-size: 30px;
    padding: 16px 32px;
  }
  .carousel-item p {
    color: black;
    font-size: large;
    font-weight: bold;
    background-color: gold;

  }
  .carousel {
    border: solid gold;
}
#collaboration {
    text-align: center;
    font-weight:bold;
}
#sendmessage {
    width: 400px;
    /* border: 0.5rem outset pink; */
    border: 8px outset black;
    border-radius:20px;
    
}
.modal-header {
    background-color:gray;
}
.modal-body {
    background-color:rgb(51, 106, 224);
}
.modal-body a {
    background-color:grey;
    color:white;
    border: black 5px outset;

}
.modal-body a:hover {
    background-color:white;
    color:black;
}
footer {
    background-color: rgb(129, 123, 123);
}
footer a {
    color:white;
}